.AdminorderSale
  // background-color #fff
  h1
    text-align center
    font-size 30px
    color #ff5353
    padding 30px 0
    background-color #ffffff
  .list
    ul
      li
        width 100%
        background-color #fff
        border-bottom 1px solid #eee
        padding 15px 12px
        margin-bottom 10px
        &:first-child
          border-top 1px solid #eee
        &:nth-child(-n+3)
          .rank
            color #ff5353 
        .rank
          width 40px
          height 130px
          text-align center
          font-size 26px
          font-weight bold
          color #aaa
        .right
          width calc(100% - 45px)
          .pic
            width 130px
            height 130px
            background-color #e8e8e8
            overflow hidden
            img
              width 100%
              height 100%
          .text
            width calc(100% - 140px)
            text-align left
            padding-top 12px
            .adv
              color #ff5353
              padding 0 10px
              border 1px solid #ff5353
              border-radius 10px
              font-size 18px
              display inline
            .goodName
              font-size 22px
              color #313131
              line-height 1.4
              margin 16px 0 10px
            .goodBottom
              line-height 1.4
              height 40px
              .price
                font-size 24px
                color #ff5353
                font-weight bold
              .goodsDetails
                position relative
                text-align center
                &.gd2
                  &:before
                    top 0
                &:before
                  content "|"
                  position absolute
                  top 25%
                  left 0
                  font-size 20px
                  color #333
                .orders,.quantity,.looks
                  font-size 20px
                  color #626262
                  p
                    font-size 20px
                    color #626262
                    &:last-child
                      color #313131
                      font-weight bold
               
               