.YesterdayData
  background-color #fff
  h1
    text-align center
    font-size 30px
    color #ff5353
    padding 30px 0
  .list
    background-color #fff
    padding 0 20px
    ul
      li
        width 100%
        height 60px
        font-size 20px
        border-bottom 1px solid #eee
        &:first-child
          border-top 1px solid #eee
        span
          color #626262
        p
          font-size 22px
          color #313131
          font-weight bold
