.home2
  h2
    text-align left
    line-height 1.4
    font-size 28px
    margin-bottom 30px
    padding-left 25px
    color #333333
  .chartBox
    width 100%
    overflow auto hidden
    margin-bottom 30px